@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<button id="sendButton">Send</button>
<div id="divIndex"></div>


<div class="time"></div>
<div class="progress-container" data-percentage='70'>
    <div class="progress"></div>
    <div class="percentage">0%</div>
</div>
